<form #form="ngForm">
    <div>
        <label>Título: </label>
        <input type="text" 
        [(ngModel)]="todo.title" 
        #titulo="ngModel" 
        required
        name="titulo">

        <div *ngIf="titulo.errors && titulo.touched"> 
            <div *ngIf="titulo?.errors.required">Titulo é obrigatório</div>  
        </div>
    </div>
    
    <div>
        <label>Descrição: </label>
        <input type="text" 
        [(ngModel)]="todo.description" 
        #descricao="ngModel" 
        required
        name="descricao">

        <div *ngIf="descricao.errors && descricao.touched"> 
            <div *ngIf="descricao?.errors.required">Descrição é obrigatório</div>  
        </div>
    </div>

    <div>
        <label>Data: </label>
        <input type="text" 
        [(ngModel)]="todo.date" 
        #data="ngModel" 
        required
        name="data">

        <div *ngIf="data.errors && data.touched"> 
            <div *ngIf="data?.errors.required">Data é obrigatório</div>  
        </div>
    </div>

    <div>
        <label>Finalizado: </label>
        <input type="checkbox"
        [(ngModel)]="todo.finished" 
        #finished="ngModel"
        name="finalizado">
    </div>
    <div>
        <button [disabled]="form.invalid" (click)="enviar()">Enviar</button>
    </div>
</form>