.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-pokemon {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f1c40f;
    height: 100vh;
}
.input-lancamento .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-pokemon input {
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid #FFF;
}
.input-pokemon button {
    border-radius: 10px;
    border: none;
    background: #3498db;
    padding: 5px 10px;
    color: #FFF;
}
.dados-pokemon {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.area-lancamento img {
    width: 10%;
    position: absolute;
    top: 50%;
}